* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */


.cards-contianer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;

}