.navbar-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    font-size: 24px;
}

.drop-down {
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    height: 65px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}


.drop-down-list {
    position: absolute;
    background-color: white;
    top: 80px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    z-index: 999;
    padding: 1px;
    border-radius: 30px;
    overflow: hidden;
}

.item {
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
}

.item:hover{
    background-color: #E7F5FF;
}

.search {
    width: 50%;
    height: 65px;
}

.search-button {
    width: 15%;
    font-size: 18px;
    font-weight: 600;
    background-color: #1971C2;
    border-radius: 10px;
    padding: 20px 10px;
    height: 65px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-container {
    width: 40%;
    height: 65px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

input {
    outline: none;
    border: none;
    width: 80%;
    height: 45px;
    font-size: 24px;
}